<%- include('partials/header'); -%>

<main role="main" class="blog-container">
<div class="row">


<!--------- main ---------->

<div class="col-md-10 pagetop">

  <div class="blog-post">

<%  posts.forEach(function(post){ %>

<h2 class="blog-title"><%=post.title%></h2>
<p><%=post.date%> by Stella </p>
<p><%=post.categoryName%></p>
<p class="blog-content">
  <%=post.content%>
</p>
<%  }) %>
</div>
</div>


<!---------- side -------------->

<aside class="col-sm-2 blog-sidebar pagetop">
  <div class="profile">
<img src="profile.jpg" class="profile-image">
    </div>
  <div class="p-4 mb-2 bg-light">
    <h5>About</h5>
    <p class="blog-about">
    #self-taught<br>#frontend<br>#webdeveloper</p>
  </div>
  <div class="blog-nav p-4">
    <h5>category</h5>


<div class="blog-side">

    <nav class="blog-nav-category">
      <a href="#a" class="verticals-listitem-link">all</a><br>
      <a href="#b" class="verticals-listitem-link">a</a><br>
      <a href="#c" class="verticals-listitem-link">b</a><br>
      <a href="#d" class="verticals-listitem-link">c</a><br>
      <a href="#e" class="verticals-listitem-link">d</a>
    </nav>
  </div>
</div>
</aside>


</div>
</main>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>





<%- include('partials/footer'); -%>
