<%- include('partials/header'); -%>

<main role="main" class="blog-container">
<div class="row">


<!--------- main ---------->

<div class="col-md-10 blog-main">

  <div class="blog-post">

<%  posts.forEach(function(post){ %>

<h2 class="blog-page-title"><%=post.title%></h2>
<p class="blog-post-meta">
  <%=post.date%> by Stella</p>
<p class="blog-content">
  <%=post.content%>
</p>
<%  }) %>
</div>


</div>


<!---------- side -------------->

<aside class="col-md-2 blog-sidebar">
  <div class="p-4 mb-2 bg-light rounded">
    <h5>About</h5>
    <p class="blog-about">
    hiiiii</br>
    hiiiiiiii</p>
    <p class="blog-about">by jestella</p>
  </div>
  <div class="blog-nav p-4">
    <h5>category</h5>


<div class="blog-side">

    <nav class="blog-nav-category">
      <a href="#all" class="verticals-listitem-link">all</a><br>
      <a href="#aa" class="verticals-listitem-link">aa</a><br>
      <a href="#bb" class="verticals-listitem-link">bb</a><br>
      <a href="#cc" class="verticals-listitem-link">cc</a><br>
      <a href="#dd" class="verticals-listitem-link">dd</a>
    </nav>
  </div>
</div>
</aside>



<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>


</div>
</main>


</section>


<%- include('partials/footer'); -%>
